<!DOCTYPE html>
<html>
   <head>
      <title>My News Feed</title>
	      <meta name="viewport" content="width=device-width, initial-scale=1">
	      <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>
  </head>

  <body>
      <div class="navbar-fixed">
        <nav>
          <div class="nav-wrapper">
            <ul class="left hide-on-med-and-down">
              <li><a href="/">Hacker News</a></li>
              <li><a href="/reddit_page/">Reddit</a></li>
              <li><a href="/live_cricket/">ESPNCricinfo</a></li>
              <li class="active"><a href="/live_football/">Football</a></li>
            </ul>
          </div>
        </nav>
      </div>

      {% for match_group in returnObj['match_data'] %}
      <div class="row valign-wrapper">
        <div class="col s0 m0 l1"></div>
          {% for match in match_group %}
              <div class="col s0 m0 l1"></div>
              <div class="col s12 m12 l8 card teal hoverable small">
                <div class="valign-wrapper">
                <span class="center-align white-text flow-text">
                  {{ match|safe }}
                </span>
              </div>
              </div>
          {% endfor %}
        <div class="col s0 m0 l1"></div>
      </div>
      {% endfor %}

   </body>
</html>
