<!DOCTYPE html>
<html>
   <head>
      <title>My News Feed</title>
	      <meta name="viewport" content="width=device-width, initial-scale=1">
	      <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>
  </head>

  <body>
      <div class="navbar-fixed">
        <nav>
          <div class="nav-wrapper">
            <ul class="left hide-on-med-and-down">
              <li><a href="/">Hacker News</a></li>
              <li><a href="/reddit_page/">Reddit</a></li>
              <li><a href="/live_cricket/">ESPNCricinfo</a></li>
              <li class="active"><a href="/live_football/">Football</a></li>
            </ul>
          </div>
        </nav>
      </div>

      <div class="container">
        <table class="centered striped responsive-table">
          <thead>
            <tr>
                <th data-field="id">Match</th>
            </tr>
          </thead>

          <tbody>
            {% for match in returnObj.match_data %}
            <tr>
              <td>{{ match|safe }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

   </body>
</html>
